---
import { Icon } from 'astro-icon';
import {
	getHomePermalink,
	// getRelativeLink
} from '~/utils/permalinks';
import Logo from '../atoms/Logo.astro';

const links = [
	{
		title: 'Links úteis',
		items: [
			{ title: 'Escoteiros do Brasil', href: 'https://www.escoteiros.org.br/' },
			{ title: 'Escoteiros RS', href: 'https://escoteirosrs.org.br/' },
			{ title: 'Paxtu', href: 'https://paxtu.escoteiros.org.br/' },
			{ title: 'Campo Escola Virtual', href: 'https://ead.escoteiros.org.br/' },
			// { title: 'Customer stories', href: '#' },
			// { title: 'Pricing', href: '#' },
			// { title: 'Resources', href: '#' },
		],
	},
	{
		title: 'Comunidade Martin Luther',
		items: [
			{ title: 'Site da CML', href: 'http://www.mluther.org.br/' },
			{ title: 'Facebook', href: 'https://www.facebook.com/mluther.org.br' },
			{ title: 'Instagram', href: 'https://www.instagram.com/mluther.org.br/' },
			// { title: 'Electron', href: '#' },
			// { title: 'AstroWind Desktop', href: '#' },
		],
	},
];

const social = [
	{
		label: 'Instagram',
		icon: 'tabler:brand-instagram',
		href: 'https://www.instagram.com/geas38rs/',
	},
	{
		label: 'Facebook',
		icon: 'tabler:brand-facebook',
		href: 'https://www.facebook.com/Geas38rs',
	},
	{
		label: 'Twitter',
		icon: 'tabler:brand-twitter',
		href: 'https://twitter.com/geas38rs',
	},
	// { label: 'RSS', icon: 'tabler:rss', href: getRelativeLink('/rss.xml') },
	// { label: 'Github', icon: 'tabler:brand-github', href: 'https://github.com/onwidget/astrowind' },
];
---

<footer class="border-t border-gray-200 dark:border-slate-800">
	<div class="mx-auto max-w-6xl px-4 sm:px-6">
		<div class="grid grid-cols-10 gap-4 gap-y-8 py-8 sm:gap-8 md:py-12">
			<div class="col-span-10 lg:col-span-6">
				<div class="mb-2">
					<a class="inline-flex flex-col" href={getHomePermalink()}>
						<Logo />
					</a>
				</div>
				<div class="text-sm text-gray-600">
					<a
						class="text-gray-600 transition duration-150 ease-in-out hover:text-gray-700 hover:underline dark:text-gray-400"
						href="#">Regulamento</a
					>
					·
					<a
						class="text-gray-600 transition duration-150 ease-in-out hover:text-gray-700 hover:underline dark:text-gray-400"
						href="#">Calendário</a
					>
				</div>
			</div>
			{
				links.map(({ title, items }) => (
					<div class="col-span-10 sm:col-span-5 md:col-span-3 lg:col-span-2">
						<div class="mb-2 font-medium text-gray-800 dark:text-gray-300">
							{title}
						</div>
						{items && Array.isArray(items) && items.length > 0 && (
							<ul class="text-sm">
								{items.map(({ title, href }) => (
									<li class="mb-2">
										<a
											class="text-gray-600 transition duration-150 ease-in-out hover:text-gray-700 hover:underline dark:text-gray-400"
											href={href}
										>
											{title}
										</a>
									</li>
								))}
							</ul>
						)}
					</div>
				))
			}
		</div>
		<div class="py-6 md:flex md:items-center md:justify-between md:py-8">
			<ul class="mb-4 -ml-2 flex md:order-1 md:ml-4 md:mb-0">
				{
					social.map(({ label, href, icon }) => (
						<li>
							<a
								class="inline-flex items-center rounded-lg p-2.5 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
								aria-label={label}
								href={href}
							>
								<Icon name={icon} class="h-5 w-5" />
							</a>
						</li>
					))
				}
			</ul>

			<div class="mr-4 text-sm text-gray-700 dark:text-slate-400">
				Modelo de site por
				<a
					class="text-blue-600 hover:underline dark:text-gray-200"
					href="https://onwidget.com/">onWidget</a
				> · Todos direitos reservados.
			</div>
		</div>
	</div>
</footer>
