---
import VolunteerCard from '~/components/widgets/VolunteerCard.astro';
import Layout from '~/layouts/PageLayout.astro';
const { meta } = Astro.props;
const adultos = [
	{
		title: 'Diretoria',
		description:
			'Adultos responsáveis pela administração e pelo bom funcionamento do grupo',
		voluntarios: [
			{ name: 'Antonio', role: 'Diretor Presidente' },
			{ name: 'Leonardo', role: 'Diretor Vice-Presidente' },
			{ name: 'Etiane', role: 'Diretora Administrativa' },
			{
				name: 'Daniel',
				role: 'Diretor Administrativo Adjunto',
				imgURL: '~/assets/images/adultos/daniel.jpg',
			},
			{ name: 'Elsa', role: 'Diretora Administrativa Adjunta' },
			{
				name: 'Marineris',
				role: 'Diretora Financeira',
				imgURL: '~/assets/images/adultos/marineris.jpg',
			},
			{ name: 'Aline', role: 'Diretora Financeira Adjunta' },
			{
				name: 'Gilberto',
				role: 'Diretor de Métodos Educativos',
				imgURL: '~/assets/images/adultos/gilberto.jpg',
			},
			{
				name: 'Gustav',
				role: 'Diretor Adjunto de Métodos Educativos ',
				imgURL: '~/assets/images/adultos/gustav.jpg',
			},
			{
				name: 'Dorival',
				role: 'Diretor de Relções Institucionais',
				imgURL: '~/assets/images/adultos/dorival.jpg',
			},
			{ name: 'Atenante', role: 'Diretor Adjunto de Relações Institucionais' },
		],
	},
	{
		title: 'Alcateia',
		description:
			'Voluntários que realizam atividades com os lobinhos - crianças de 6,5 a 10 anos.',
		voluntarios: [
			{
				name: 'Tatiana',
				role: 'Akelá',
				imgURL: '~/assets/images/adultos/tatiana.jpg',
			},
			{ name: 'Luís Fernando', role: 'Baloo' },
			{ name: 'Juliana', role: 'Bagheera' },
			{ name: 'Patrícia', role: 'Assistente da Alcateia' },
		],
	},
	{
		title: 'Tropa Escoteira',
		description:
			'Adultos que realizam atividades com os escoteiros - crianças e adolescentes entre 10 e 14 anos.',
		voluntarios: [
			{ name: 'Karina', role: 'Chefe de Tropa' },
			{
				name: 'Maria Eduarda',
				role: 'Assistente da Tropa',
				imgURL: '~/assets/images/adultos/maria-eduarda.jpg',
			},
			{
				name: 'Brenda',
				role: 'Assistente da Tropa',
				imgURL: '~/assets/images/adultos/brenda.jpg',
			},
			{
				name: 'Paulo',
				role: 'Assistente da Tropa',
				imgURL: '~/assets/images/adultos/paulo.jpg',
			},
			{
				name: 'Vitor',
				role: 'Instrutor da Tropa',
				imgURL: '~/assets/images/adultos/vitor.jpg',
			},
		],
	},
	{
		title: 'Tropa Sênior',
		description:
			'Adultos que realizam atividades com adolescentes de 14 a 17 anos, chamados sêniores e guias.',
		voluntarios: [
			{
				name: 'Flávio',
				role: 'Chefe de Tropa',
				imgURL: '~/assets/images/adultos/flavio.jpg',
			},
			{ name: 'Nara', role: 'Assistente da Tropa' },
			{ name: 'Rigoberto', role: 'Assistente da Tropa' },
		],
	},
	{
		title: 'Clã Pioneiro',
		description:
			'Seção que reúne os jovens de 17 a 20 anos, chamados pioneiros.',
		voluntarios: [{ name: 'Felipe', role: 'Mestre Pioneiro' }],
	},
];
---

<Layout meta={meta}>
	<section class="mx-auto max-w-3xl px-6 py-12 sm:px-6 sm:py-16 lg:py-20">
		<header>
			<h1
				class="leading-tighter font-heading mb-8 text-center text-3xl font-bold tracking-tighter md:mb-12 md:text-4xl"
			>
				Adultos Voluntários
			</h1>
		</header>
		{
			adultos.map(({ title, description, voluntarios }) => (
				<>
					<h2 class="mt-12 text-2xl font-bold tracking-tight">{title}</h2>
					{description && <p class="">{description}</p>}
					<ul class="mt-8 grid grid-cols-4 gap-8">
						{voluntarios.map(({ name, role, imgURL }) => (
							<VolunteerCard name={name} role={role} imgURL={imgURL} />
						))}
					</ul>
				</>
			))
		}
	</section>
</Layout>
