---
import VolunteerCard from '~/components/widgets/VolunteerCard.astro';
import Layout from '~/layouts/PageLayout.astro';
const { meta } = Astro.props;
const adultos = [
	{
		title: 'Diretoria',
		description:
			'Adultos responsáveis pela administração e pelo bom funcionamento do grupo.',
		voluntarios: [
			{ name: 'Etiane', role: 'Diretora Presidente' },
			{
				name: 'Tatiana',
				role: 'Diretora Vice-Presidente',
				imgURL: '~/assets/images/adultos/tatiana.jpg',
			},
			{ name: 'Gênesis', role: 'Diretor Administrativo' },
			{
				name: 'Amarilda',
				role: 'Diretora Administrativa Adjunta',
			},
			{
				name: 'Ricardo',
				role: 'Diretor Financeiro',
			},
			{ name: 'Márcia', role: 'Diretora Financeira Adjunta' },
			{
				name: 'Giba',
				role: 'Diretor de Métodos Educativos',
				imgURL: '~/assets/images/adultos/gilberto.jpg',
			},
			{
				name: 'Gustav',
				role: 'Diretor Adjunto de Métodos Educativos ',
				imgURL: '~/assets/images/adultos/gustav.jpg',
			},
			{
				name: 'Dodô',
				role: 'Diretor de Relções Institucionais',
				imgURL: '~/assets/images/adultos/dorival.jpg',
			},
			{ name: 'Atenante', role: 'Diretor Adjunto de Relações Institucionais' },
			{ name: 'Zanini', role: 'Diretor de Comunicação' },
			{ name: 'Luiza', role: 'Diretora Adjunta de Comunicação' },
		],
	},
	{
		title: 'Alcateia',
		description:
			'Voluntários que realizam atividades com os lobinhos - crianças de 6,5 a 10 anos.',
		voluntarios: [
			{
				name: 'Naan',
				role: 'Akelá',
			},
			{ name: 'Marcus', role: 'Assistente da Alcateia' },
			{ name: 'Nicole', role: 'Assistente da Alcateia' },
			{ name: 'Patrícia', role: 'Raksha' },
		],
	},
	{
		title: 'Tropa Escoteira',
		description:
			'Adultos que realizam atividades com os escoteiros - crianças e adolescentes entre 10 e 14 anos.',
		voluntarios: [
			{
				name: 'Brenda',
				role: 'Chefe de Tropa',
				imgURL: '~/assets/images/adultos/brenda.jpg',
			},
			{
				name: 'Victória',
				role: 'Assistente da Tropa',
			},
			{
				name: 'Vitor',
				role: 'Instrutor da Tropa',
				imgURL: '~/assets/images/adultos/vitor.jpg',
			},
		],
	},
	{
		title: 'Tropa Sênior',
		description:
			'Adultos que realizam atividades com adolescentes de 14 a 17 anos, chamados sêniores e guias.',
		voluntarios: [
			{
				name: 'Flávio',
				role: 'Chefe de Tropa',
				imgURL: '~/assets/images/adultos/flavio.jpg',
			},
			{
				name: 'Madu',
				role: 'Assistente da Tropa',
				imgURL: '~/assets/images/adultos/maria-eduarda.jpg',
			},
			{ name: 'Rigoberto', role: 'Assistente da Tropa' },
		],
	},
	{
		title: 'Clã Pioneiro',
		description:
			'Seção que reúne os jovens de 17 a 20 anos, chamados pioneiros.',
		voluntarios: [
			{ name: 'Leonardo', role: 'Mestre Pioneiro' },
			{ name: 'Aline', role: 'Assistente do Clã' },
		],
	},
];
---

<Layout meta={meta}>
	<section class="mx-auto max-w-3xl px-6 py-12 sm:px-6 sm:py-16 lg:py-20">
		<header>
			<h1
				class="leading-tighter font-heading text-center text-3xl font-bold tracking-tighter md:text-4xl"
			>
				Adultos Voluntários
			</h1>
			<p class="mb-8 text-center tracking-tight sm:mx-8 md:mb-12">
				Estes são os adultos voluntários que trabalham constantemente para
				garantir o funcionamento do G.E. Albert Schweitzer.
			</p>
		</header>
		{
			adultos.map(({ title, description, voluntarios }) => (
				<>
					<h2 class="mt-12 text-2xl font-bold tracking-tight">{title}</h2>
					{description && <p class="">{description}</p>}
					<ul class="mt-8 grid grid-cols-4 gap-8">
						{voluntarios.map(({ name, role, imgURL }) => (
							<VolunteerCard name={name} role={role} imgURL={imgURL} />
						))}
					</ul>
				</>
			))
		}
	</section>
</Layout>
